mixin csrf()
	input(type="hidden" name="_csrf" value=_csrf)

mixin field(label)
	label
		= label
		|
		block

mixin rfield(label)
	label
		block
		|
		= label

mixin colon-three(text)
	- for (const [index, i] of text.split(":3").entries())
		if index > 0
			span(class=":3") :
			| 3
		= i


mixin notification(i)
	.notification
		p= i
		button.notification_close(aria-label="Close Notification" title="Close")
			svg(viewBox="0 0 24 24" aria-hidden="true")
				use(href="#icon-x")


mixin action(href, method="post")
	form(action=href method=method)
		if method !== "get"
			+csrf
		- for (const [k, v] of Object.entries(attributes))
			input(type="hidden" name=k value=v)
		button.outline.action
			block


mixin message(i)
	.message
		.message_background
		.message_avatarBackground
		.message_avatar
			svg(viewBox="0 0 24 24" aria-hidden="true")
				use(href=i.privacy >= Privacy.enum.ANONYMOUS ? "#icon-hat-glasses" : "#icon-user")
		.message_author
			+colon-three(i.author || 'Anonymous')
		if i.is_redacted
			.message_redacted Redacted
		p.message_body
			+colon-three(i.body)
		if i.privacy < Privacy.enum.ANONYMOUS
			.message_time= timestampToString(i.created_at)
		if admin
			.message_admin
				if i.directory !== Directory.enum.SPAM
					+action(BASEURL + 'admin/move')(return=path mid=i.rowid dir=Directory.enum.SPAM) Mark as Spam
				if i.directory !== Directory.enum.BORED && i.privacy < Privacy.enum.PRIVATE
					+action(BASEURL + 'admin/move')(return=path mid=i.rowid dir=Directory.enum.BORED) Approve
				+action(BASEURL + 'admin/delete')(return=path mid=i.rowid) Delete
				+action(BASEURL + 'admin/redact', 'get')(return=path mid=i.rowid) Redact
				+action(BASEURL + 'admin/block', 'get')(return=path mid=i.rowid) Block


mixin message-container(messages, title="Messages")
	section.messages-container
		header
			h2= title

		.messages
			- var empty = true;

			- for (const i of messages)
				- empty = false;
				+message(i)

			if empty
				p No messages!

		if block
			footer
				block


- const notifications = getNotifications();

doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(name="theme-color" content="#002")
		title
			block title
				| Bored
		link(rel="stylesheet" href="/index.css")
		link(rel="stylesheet" href=BASEURL + "assets/index.css")
		if notifications.length > 0
			script(defer async src=BASEURL + "assets/notification-close.js")
	body
		include _icon-defs.svg

		if notifications.length > 0
			aside.notifications
				- for (const i of notifications)
					+notification(i)

		main
			block main

		footer
			p Fuck the bigots, yo.
			p Made with disdain.
			p Best experienced with NetScape Navigator, or not at all.
